body 
{
	font-family: Verdana, Arial;
	font-size: 12px;
	background-color: #EEEEEE;
}

div.container
{
	width: 800px;
	margin: 0px auto;
	border: 1px solid gray;
	background-color: white;
}

div.header, div.footer
{
	padding: 0.5em;
	color: white;
	background-color: gray;
	clear: left;
}

div.left
{
	float: left;
	width: 160px;
	margin: 0;
	padding: 10px;
}

div.content
{
	margin-left: 180px;
	padding: 10px;
	min-height: 360px;
}

div.header h1
{
	padding: 0;
	margin: 0;
	text-align: center;
}

div.left p
{
	padding: 0;
	margin: 0;
	font-size: larger;
	font-weight: bolder;
	color: #333333;
}

div.left ul
{
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
	list-style-type: none;
}

div.left li
{
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 0;
}

div.left a
{
	border: 1px solid #DDDDDD;
	background-color: #F2F2F2;
	color: black;
	text-decoration: none;
	display: block;
	width: 156px;
	padding: 2px;
	margin: 0px;
}

div.left a:hover
{
	background-color: #FFFFFF;
}

div.content h1
{
	border-bottom: 1px solid #AAAAAA;
	color: #333333;
	padding: 0;
	margin: 0;
	margin-bottom: 8px;
	font-size: large;
}

div.content div.error
{
	margin-bottom: 4px;
	padding: 2px;
	border: solid 1px #f2bab7;
	background-color: #fbf4eb;
	color: #9c5f5f;
}

div.content p
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}

div.content a
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
	color: blue;
	text-decoration: none;
	display: block;
}

div.content p a 
{
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline;
}

div.content table
{
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	margin-top: 5px;
}

div.content tr.header
{
	background-color: #555555;
	color: white;
}

div.content tr.even
{
	background-color: white;
}

div.content tr.odd
{
	background-color: #EEEEEE;
}

div.content td
{
	border-top: 0;
	border-bottom: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	margin: 0;
	padding: 4px;
}

div.content tr.header td
{
	border: 1px solid #555555;
}

div.content form
{
	border: 1px solid #DDDDDD;
	background-color: #F2F2F2;
	padding: 10px;
	margin: 0 auto;
	/*width: 400px;*/
	overflow: auto;
}

div.content table a
{
	margin-top: 2px;
	margin-bottom: 2px;
	display: inline;
}

div.content form div
{
	margin: 0px auto;
	width: 80%;
}

div.content form label
{
	padding-top: 5px;
	margin-right: 20px;
	margin-bottom: 4px;
	height: 20px;
	width: 140px;
	text-align: right;
	float: left;
	clear: left;
}

div.content form span
{
	padding-top: 5px;
	font-style: italic;
	height: 20px;
	float: left;
}

div.content form input 
{
	margin: 0px;
	padding: 0;
	height: 20px;
	float: left;
}

div.content form input.cool
{
	border: 1px solid #555555;
	padding-left: 2px;
	height: 22px;
}

div.content form button
{
	border: 1px solid #555555;
	background-color: #555555;
	color: white;
	margin-left: 160px;
	padding: 5px;
	float: left;
	clear: left;
}

div.footer p
{
	padding: 0;
	margin: 0;
}