{% load url from future %}
<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'med/style.css' %}" />
<title>Medical site</title>
</head>

<body>
<div class="container">
<div class="header">
	<h1>Aplikacja medyczna</h1>
</div>
<div class="left">
	{% load menu %}
	{% left_menu %}
</div>
<div class="content">
	<h1>Wyniki walidacji</h1>
	{% if validations %}
		<a href="{% url 'med:validate_new' %}">Nowa walidacja krzyżowa</a>
		<table>
			<tr class="header"><td>Czas operacji</td><td>Nazwa walidacji</td><td>Klasyfikator</td><td>Liczba podgrup</td><td>Wynik</td><td>Operacje</td></tr>
			{% for validation in validations %}
			<tr>
				<td>{{ validation.date }}</td>
				<td>{{ validation.name }}</td>
				<td>{{ validation.classifier }}</td>
				<td>{{ validation.k_groups }}</td>
				<td>{{ validation.result }}</td>
				<td><a href="{% url 'med:validate_delete' validation.id %}">Usuń</a></td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>Nie przeprowadzono do tej pory żadnej walidacji krzyżowej. Aby utworzyć walidację krzyżową kliknij <a href="{% url 'med:validate_new' %}">tutaj</a>.</p>
	{% endif %}
</div>
<div class="footer">
	<p>Piotr Tąkiel 2013</p>
</div>
</div>
</body>

</html>
