<!DOCTYPE html>
{% load menu %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Aplikacja medyczna - Wyniki walidacji</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/med/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/med/dashboard.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Aplikacja medyczna</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Pomoc</a></li>
          <li><a href="#">O aplikacji</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="{% url 'med:classification_list' 'date' %}">Wyniki klasyfikacji</a></li>
          <li><a href="{% url 'med:classification_new' %}">Nowa klasyfikacja</a></li>
        </ul>
      </div><!-- col -->
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Wyniki klasyfikacji</h1>
        {% if classifications %}
        <div class="dropdown">
          <a class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            {{ sortby_items|get_item:sortby }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          {% for key, value in sortby_items.items %}
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'med:classification_list' key %}">{{ value }}</a></li>
          {% endfor %}
          </ul>
        </div>
        <table class="table table-striped table-bordered table-hover">
          <tr>
            <th>Data wykonania</th>
            <th>Nazwa klasyfikacji</th>
            <th>Nazwa pliku</th>
            <th>Wynik walidacji</th>
            <th>Czynności</th>
          </tr>
          {% for classification in classifications %}
          <tr>
            <td>{{ classification.date }}</td>
            <td>{{ classification.name }}</td>
            <td>{{ classification.file_name }}</td>
            <td>{{ classification.validation_result }}</td>
            <td class="text-center">
              <a class="btn btn-primary btn-xs" href="{% url 'med:classification_details' classification.id sortby %}">
                <span class="glyphicon glyphicon-search"></span>
              </a>
              <a class="btn btn-danger btn-xs" href="{% url 'med:classification_delete' classification.id sortby %}">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/med/js/bootstrap.min.js"></script>
    <script src="/static/med/js/docs.min.js"></script>
  </body>
  </html>
