<!DOCTYPE html>
<html>
<head>
<title>Medical site</title>
</head>

<body>
<div id="stylized">
	<form id="form" name="form" method="post" action="{% url 'med:cls_list_new_form' id %}" enctype="multipart/form-data">
		{% csrf_token %}

		<h1>New classification</h1>

		{% if error %}
		<div class="error">{{ error }}</div>
		{% endif %}

		<p>Instructions</p>

		<label>Classification name
			<span>Enter a name for classification operation</span>
		</label>
		<input type="text" name="name" maxlength="64" />

		<label>
			<span>Classificator name</span>
		</label>
		<p>{{ model.name }}</p>

		<label>Data
			<span>Choose a file with data for classification algorithm</span>
		</label>
		<input type="file" name="uploaded_file" />

		<button type="submit">Run</button>
		<div class="spacer"></div>
	</form>
</div>
</body>

</html>
