<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'med/style.css' %}" />
<title>Medical site</title>
</head>

<body>
<div class="container">
<div class="header">
	<h1>Aplikacja medyczna</h1>
</div>
<div class="left">
	<p>Uczenie</p>
	<ul>
		<li><a href="{% url 'med:trained_list_new' %}">Nowy klasyfikator</a></li>
		<li><a href="{% url 'med:trained_list' %}">Lista klasyfikatorów</a></li>
	</ul>

	<p>Klasyfikacja</p>
	<ul>
		<li><a href="{% url 'med:cls_list_new' %}">Nowa klasyfikacja</a></li>
		<li><a href="{% url 'med:cls_list' %}">Wyniki klasyfikacji</a></li>
	</ul>

	<p>Pomoc</p>
	<ul>
		<li><a href="#">Jak korzystać?</a></li>
		<li><a href="#">Autor</a></li>
	</ul>
</div>
<div class="content">
	<h1>Szczegóły przeprowadzonej klasyfikacji</h1>
	<a href="{% url 'med:cls_list' %}">Powrót</a>
	<h3>{{ results.name }}</h3>
	<p>Moment rozpoczęcia: {{ results.date_started }}</p>
	<p>Moment zakończenia: {{ results.date_finished }}</p>
	<table>
		<tr class="header">
			{% for attr in attributes %}
			<td>{{ attr }}</td>
			{% endfor %}
			<td>{{ category }}</td>
		</tr>
		{% for item in rows %}
		<tr>
			{% for attr_name in item.attr %}
			<td>{{ attr_name }}</td>
			{% endfor %}
			<td>{{ item.category }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="footer">
	<p>Piotr Tąkiel 2013</p>
</div>
</div>
</body>

</html>
