<p>Uczenie</p>
<ul>
	<li><a href="{% url 'med:trained_list_new' %}">Nowy klasyfikator</a></li>
	<li><a href="{% url 'med:trained_list' %}">Lista klasyfikatorów</a></li>
</ul>

<p>Klasyfikacja</p>
<ul>
	<li><a href="{% url 'med:cls_list_new' %}">Nowa klasyfikacja</a></li>
	<li><a href="{% url 'med:cls_list' %}">Wyniki klasyfikacji</a></li>
</ul>

<p>Walidacja krzyżowa</p>
<ul>
	<li><a href="{% url 'med:validate_new' %}">Nowa walidacja</a></li>
	<li><a href="{% url 'med:validate_list' %}">Wyniki walidacji</a></li>
</ul>

<p>Pomoc</p>
<ul>
	<li><a href="#">Jak korzystać?</a></li>
	<li><a href="#">Autor</a></li>
</ul>
